html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#projects{
  width: 50%;
  height: 100%;
  float: left;
  background-color: #A8D0E6

}

#blogs{
  width: 50%;
  height: 50%;
  float: left;
  background-color: #F76C6C
}

#music{
  width: 50%;
  height: 50%;
  float: left;
  background-color: #24305E
}

#ytPlaylist{
	width: 500px;
    height: 300px;
    margin: 0 auto;
	display: block;
    border-style:none;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 36px;

}

a:hover {
  background-color: #F76C6C;
  color: #F76C6C;
}

.previous {
  position: relative;
  float: left;
  top: 280px;
  left: 50px;
  background-color: #F76C6C ;
  color: white;
}

.next {
  position: relative;
  float: right;
  top: 280px;
  right: 50px;
  background-color: #F76C6C;
  color: white;
}

.round {
  border-radius: 50%;
}